In [5]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
from config import db_url

In [6]:
# Create engine to connect database
engine = create_engine(f'{db_url}')
connection = engine.connect()

In [7]:
inspector = inspect(engine)

inspector.get_table_names()

['sighting']

In [8]:
sighting = pd.read_sql("SELECT * FROM sighting",connection)
sighting

Empty DataFrame
Columns: [date, city, state, country, shape, duration, summary, posted, images, reportnum, location, latitude, longitude]
Index: []